Repository flowacademyhu/zeta-absencemanager, pull requests merged in 2019-10, with the labels that each got.

#114 Filter
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-user-index/admin-user-show.component.css
  frontend/src/app/components/admin-user-index/admin-user-show.component.html
  frontend/src/app/components/admin-user-index/admin-user-show.component.ts
  frontend/src/app/components/filter/filter.component.css
  frontend/src/app/components/filter/filter.component.html
  frontend/src/app/components/filter/filter.component.ts
Labels: frontend

#116 Angular frontend models added
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/Department.model.ts
  frontend/src/app/models/Group.model.ts
  frontend/src/app/models/User.model.ts
Labels: frontend

#113 Feature/106 controller service connection
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminAbsencesController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminDepartmentController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminGroupController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Absence.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Department.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
Labels: backend

#117 Feature/104 session service login
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/services/session.service.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/CustomUserDetailsService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/RevokeTokenEndpoint.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/WebSecurityConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/config/CorsConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
Labels: backend, frontend

#123 Filter + project structure fix
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.css
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.html
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.ts
Labels: frontend

#129 Feature/admin menu1
  frontend/src/app/app.module.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/components/header/header.component.ts
Labels: frontend

#131 table style
  frontend/src/app/components/admin/absences-index/absences-index.component.css
  frontend/src/app/components/admin/absences-index/absences-index.component.html
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.css
  frontend/src/app/components/content/content.component.css
  frontend/src/app/components/login/login.component.css
  frontend/src/app/components/login/login.component.html
Labels: frontend

#140 Feature/110 absence service
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AbsenceController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminAbsencesController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend

#142 Update user model
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend

#152 Feature/137 admin group
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminGroupController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/GroupRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
Labels: backend

#163 Feature/159 group delete fix
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/GroupRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
Labels: backend

#158 user,group, absence model completely updated, modified. optional vari…
  frontend/src/app/components/header/header.component.html
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/DataEntity.ts
  frontend/src/app/models/Department.model.ts
  frontend/src/app/models/Group.model.ts
  frontend/src/app/models/User.model.ts
Labels: frontend

#156 Feature/135 generic services
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.ts
  frontend/src/app/models/connectors/AbstractApiConnector.ts
  frontend/src/app/models/connectors/AuthApiConnector.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  frontend/src/app/services/ApiCommunication.service.ts
  frontend/src/app/services/session.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/environments/environment.ts
Labels: frontend

#155 Feature/12 employee absences create
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/absences-create/absences-create.component.css
  frontend/src/app/components/employee/absences-create/absences-create.component.html
  frontend/src/app/components/employee/absences-create/absences-create.component.spec.ts
  frontend/src/app/components/employee/absences-create/absences-create.component.ts
  frontend/src/app/models/connectors/AbsenceApiConnector.ts
  frontend/src/app/services/ApiCommunication.service.ts
Labels: frontend

#170 dataLoader update
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
Labels: backend

#153 Feature/emp abs index
  frontend/package.json
  frontend/src/app/UserResolver.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/absences-index/admin-absences-index.component.css
  frontend/src/app/components/admin/absences-index/admin-absences-index.component.html
  frontend/src/app/components/admin/absences-index/admin-absences-index.component.ts
  frontend/src/app/components/admin/user-edit-destroy-show/admin-user-edit-destroy-show/admin-user-edit-destroy-show.component.css
  frontend/src/app/components/admin/user-edit-destroy-show/admin-user-edit-destroy-show/admin-user-edit-destroy-show.component.html
  frontend/src/app/components/admin/user-edit-destroy-show/admin-user-edit-destroy-show/admin-user-edit-destroy-show.component.ts
  frontend/src/app/components/admin/user-index/admin-user-index/admin-user-show.component.ts
  frontend/src/app/components/employee/emp-absence-index/user-absence-index.component.css
  frontend/src/app/components/employee/emp-absence-index/user-absence-index.component.html
  frontend/src/app/components/employee/emp-absence-index/user-absence-index.component.ts
  frontend/src/app/components/header/header.component.html
  frontend/src/app/services/employee.service.ts
  frontend/tsconfig.json
Labels: frontend

#165 Feature/160 leader data access
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/WebSecurityConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AbsenceController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend

#164 Feature/162 adding member data to models
  frontend/src/assets/csiha-logo-vect.jpg
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Absence.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend

#167 Updated the enums
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Roles.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Status.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Type.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
Labels: backend

#172 Hotfix/169 admin absence index resolver
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/absences-index/admin-absences-index.component.html
  frontend/src/app/components/admin/absences-index/admin-absences-index.component.ts
  frontend/src/app/components/resolvers/AdminAbsenceResolver.ts
  frontend/src/app/models/connectors/AdminAbsenceApiConnector.ts
  frontend/src/app/services/ApiCommunication.service.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Absence.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
Labels: backend, frontend

#171 added absences
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
Labels: backend

#179 Feature/15 emp absence show edit
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/absence-show-edit/absence-show-edit.component.css
  frontend/src/app/components/employee/absence-show-edit/absence-show-edit.component.html
  frontend/src/app/components/employee/absence-show-edit/absence-show-edit.component.spec.ts
  frontend/src/app/components/employee/absence-show-edit/absence-show-edit.component.ts
  frontend/src/app/components/employee/absences-create/absences-create.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/connectors/AbsenceApiConnector.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/SimpleCorsFilter.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
Labels: frontend

#176 Feature/16 employee absence index
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/absences-create/absences-create.component.ts
  frontend/src/app/components/employee/emp-absences-index/emp-absences-index.component.css
  frontend/src/app/components/employee/emp-absences-index/emp-absences-index.component.html
  frontend/src/app/components/employee/emp-absences-index/emp-absences-index.component.spec.ts
  frontend/src/app/components/employee/emp-absences-index/emp-absences-index.component.ts
  frontend/src/app/modals/create-user/create-user.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/resolvers/GetEmployeeAbsencesResolver.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#178 Feature/160 leader data access
  frontend/src/app/modals/create-user/create-user.component.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/WebSecurityConfig.java
Labels: backend

#202 Feature/177 date check
  frontend/src/app/components/employee/modals/employee-absence-create-modal/employee-absence-create-modal.component.ts
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.ts
Labels: frontend

#211 Hotfix/development ondestroy
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/admin/admin-groups/admin-groups.component.html
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/common/header/header.component.html
  frontend/src/app/components/common/header/header.component.ts
  frontend/src/app/components/employee/employee-absences/employee-absences.component.ts
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
Labels: frontend

#216 Feature/209 group hotfixing
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/resources/application.yaml
Labels: backend

#215 Feature/41 state machine
  pom.xml
  src/main/java/hu/flowacademy/zetaabsencemanager/config/StateMachineConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Absence.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Status.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/utils/ApiError.java
Labels: backend

#212 Feature/188 notification emails
  pom.xml
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/AuthConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/MvcConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/config/CorsConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/config/SwaggerConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AbsenceController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminGroupController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/CurrentUserController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Roles.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Type.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/validator/AbsenceValidator.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/validator/UserValidator.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/MessageService.java
  src/main/resources/application.yaml
Labels: backend

#210 Feature/203 admin absence create show edit
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/admin-absences/admin-absences.component.ts
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.css
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.ts
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.css
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/WebSecurityConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/UserRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
Labels: frontend

#220 Feature/#8 passw change
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/change-passw/change-passw.component.css
  frontend/src/app/components/employee/modals/change-passw/change-passw.component.html
  frontend/src/app/components/employee/modals/change-passw/change-passw.component.ts
  frontend/src/app/models/connectors/EmployeeApiConnector.ts
  frontend/src/app/services/api-communication.service.ts
  frontend/src/app/services/password.service.ts
  frontend/src/app/services/session.service.ts
  frontend/src/app/services/user.service.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/CurrentUserController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/PasswordChangeDTO.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#218 Feature/217 group create update
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.ts
  frontend/src/app/components/admin/modals/admin-user-add-modal/admin-user-add-modal.component.ts
  frontend/src/app/models/Group.model.ts
  frontend/src/app/models/User.model.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
Labels: frontend

#222 Feature/221 change language to hungarian
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/admin-absences/admin-absences.component.ts
  frontend/src/app/components/admin/admin-groups/admin-groups.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.ts
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.ts
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-add-modal/admin-user-add-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-edit-modal/admin-user-edit-modal.component.html
  frontend/src/app/components/common/header/header.component.html
  frontend/src/app/components/common/login/login.component.html
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/employee-absences/employee-absences.component.ts
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/change-passw/change-passw.component.html
  frontend/src/app/components/employee/modals/employee-absence-create-modal/employee-absence-create-modal.component.html
  frontend/src/app/components/employee/modals/employee-absence-create-modal/employee-absence-create-modal.component.ts
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.html
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/pipes/absence-status-pipe.ts
  frontend/src/app/pipes/absence-type-pipe.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
Labels: frontend

#226 Feature/225 add administration id to absences
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.css
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-create-modal/admin-absence-create-modal.component.ts
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.ts
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/modals/employee-absence-create-modal/employee-absence-create-modal.component.html
  frontend/src/app/components/employee/modals/employee-absence-create-modal/employee-absence-create-modal.component.ts
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.html
  frontend/src/app/models/Absence.model.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Absence.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
Labels: backend, frontend

#227 Feature/197 delete buttons2
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/admin-groups/admin-groups.component.html
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.css
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.ts
  frontend/src/app/components/admin/modals/admin-user-delete-modal/admin-user-delete-modal.component.css
  frontend/src/app/components/admin/modals/admin-user-delete-modal/admin-user-delete-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-delete-modal/admin-user-delete-modal.component.ts
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/employee-absences/employee-absences.component.ts
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/employee-profile-delete-modal/employee-profile-delete-modal.component.css
  frontend/src/app/components/employee/modals/employee-profile-delete-modal/employee-profile-delete-modal.component.html
  frontend/src/app/components/employee/modals/employee-profile-delete-modal/employee-profile-delete-modal.component.ts
  frontend/src/app/models/connectors/EmployeeApiConnector.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  frontend/src/app/resolvers/UserResolver.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#224 Feature/206 state machine frontend
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/admin-absences/admin-absences.component.ts
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.ts
  frontend/src/app/components/common/header/header.component.html
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.html
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.ts
  frontend/src/app/guards/admin.guard.ts
  frontend/src/app/models/connectors/AbsenceApiConnector.ts
  frontend/src/app/models/connectors/AdminAbsenceApiConnector.ts
  frontend/src/app/models/connectors/EmployeeApiConnector.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/ResourceConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/auth/WebSecurityConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
Labels: backend, frontend

#231 AbsenceDTO created, findAll Absence endpoints return paginated data
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AbsenceController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminAbsencesController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/utils/AbsenceDTO.java
  src/main/java/hu/flowacademy/zetaabsencemanager/utils/AbsenceMetadata.java
Labels: backend

#235 Feature/#8 passw change
  frontend/.gitignore
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/change-passw-modal/change-passw-modal.component.css
  frontend/src/app/components/employee/modals/change-passw-modal/change-passw-modal.component.html
  frontend/src/app/components/employee/modals/change-passw-modal/change-passw-modal.component.ts
  frontend/src/app/components/employee/modals/employee-profile-edit-modal/employee-profile-edit-modal.component.css
  frontend/src/app/components/employee/modals/employee-profile-edit-modal/employee-profile-edit-modal.component.html
  frontend/src/app/components/employee/modals/employee-profile-edit-modal/employee-profile-edit-modal.component.ts
  frontend/src/app/models/connectors/EmployeeApiConnector.ts
  frontend/src/app/services/password.service.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/CurrentUserController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/PasswordChangeDTO.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#234 Feature/205 avalilable absence days
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/models/User.model.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/CurrentUserController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/PasswordChangeDTO.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
  src/test/java/hu/flowacademy/zetaabsencemanager/ZetaAbsencemanagerApplicationTests.java
Labels: backend, frontend

#232 Feature/228 absence filter
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AbsenceController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminAbsencesController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/FilterService.java
Labels: backend

#238 Feature/190 pagination frontend
  frontend/src/app/GroupResolver.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/admin-absences/admin-absences.component.ts
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.ts
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/employee-absences/employee-absences.component.ts
  frontend/src/app/models/Group.model.ts
  frontend/src/app/models/PagedResponse.model.ts
  frontend/src/app/models/connectors/AbsenceApiConnector.ts
  frontend/src/app/models/connectors/AdminAbsenceApiConnector.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  frontend/src/app/resolvers/AdminAbsenceResolver.ts
  frontend/src/app/resolvers/GetEmployeeAbsencesResolver.ts
  frontend/src/app/resolvers/GroupResolver.ts
  frontend/src/app/resolvers/UserResolver.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
Labels: frontend

#239 Feature/229 remove deleted objects from the connecting objects
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/admin/admin-absences/admin-absences.component.html
  frontend/src/app/components/admin/admin-groups/admin-groups.component.html
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.ts
  frontend/src/app/components/admin/modals/admin-user-add-modal/admin-user-add-modal.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  frontend/src/app/pipes/absence-status-pipe.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/AbsenceRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/UserRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#243 Feature/240 leader employee fix
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/validator/UserValidator.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/GroupRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/repository/UserRepository.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
Labels: backend, frontend

#251 Group serializer added
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/serializer/GroupSerializer.java
Labels: backend

#250 reject button to the employee open absences
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.html
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/config/StateMachineConfig.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
Labels: backend, frontend

#254 export to excel front end
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/employee/employee-absences/employee-absences.component.html
  frontend/src/app/components/employee/employee-absences/employee-absences.component.ts
  frontend/src/app/services/excel.service.ts
Labels: frontend

#260 solving the group create problem
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
Labels: bug, frontend

#259 Feature/247 modify delete logic
  frontend/src/app/components/admin/admin-users/admin-users.component.html
  frontend/src/app/components/admin/modals/admin-group-create-modal/admin-group-create-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-delete-modal/admin-user-delete-modal.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/employee-profile-delete-modal/employee-profile-delete-modal.component.html
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#255 Feature/248 admin user edit fix
  frontend/src/app/components/admin/admin-groups/admin-groups.component.ts
  frontend/src/app/components/admin/admin-users/admin-users.component.ts
  frontend/src/app/components/admin/modals/admin-absence-edit-modal/admin-absence-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.html
  frontend/src/app/components/admin/modals/admin-group-delete-modal/admin-group-delete-modal.component.ts
  frontend/src/app/components/admin/modals/admin-user-add-modal/admin-user-add-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-add-modal/admin-user-add-modal.component.ts
  frontend/src/app/components/admin/modals/admin-user-edit-modal/admin-user-edit-modal.component.html
  frontend/src/app/components/admin/modals/admin-user-edit-modal/admin-user-edit-modal.component.ts
  frontend/src/app/models/Absence.model.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
  src/main/java/hu/flowacademy/zetaabsencemanager/DataLoader.java
  src/main/java/hu/flowacademy/zetaabsencemanager/controllers/AdminUsersController.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/Group.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/User.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/serializer/GroupSerializer.java
  src/main/java/hu/flowacademy/zetaabsencemanager/model/serializer/UserSerializer.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminAbsenceService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/AdminUserService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/GroupService.java
  src/main/java/hu/flowacademy/zetaabsencemanager/service/UserService.java
Labels: backend, frontend

#253 Feature/10 emp profile edit
  frontend/src/app/app.module.ts
  frontend/src/app/components/employee/employee-profile/employee-profile.component.html
  frontend/src/app/components/employee/employee-profile/employee-profile.component.ts
  frontend/src/app/components/employee/modals/employee-absence-edit-modal/employee-absence-edit-modal.component.ts
  frontend/src/app/components/employee/modals/employee-profile-edit-modal/employee-profile-edit-modal.component.html
  frontend/src/app/components/employee/modals/employee-profile-edit-modal/employee-profile-edit-modal.component.ts
  frontend/src/app/models/connectors/UserApiConnector.ts
Labels: frontend
